
.image {
    height: 1000px;
    background: url('./me.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
}

.title {
    font-size: 4.5rem;
    top: 50%;
}
.desc {
    font-size: 2rem;
}
.text {
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.servicestext.card {
    height: 280px;
    cursor: pointer;
  }

.card-title {
    text-align: center;
}
.servicestext:hover {
    border: 2px solid red;
}
.navbar{
    height: fit-content;
}
.p{
    color: white;
}
#contact{
    text-align: center;
}
form{
    text-align: center;
    margin-left: 27%;
    width: 500px;
}

body{
    background-color:black;
    color: aliceblue;
}
#services{
    color: black;
}
.social {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover {
    color: #800900;
}
.fab {
    color: #000000;
}
footer {
    background-color:white;
    text-align: center;
}